<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Poker Stats</title>
		<meta name="robots" content="index, follow">
		<meta name="HandheldFriendly" content="true">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<![endif]-->
		<script>
			var name = "<%= name  %>";
		</script>
		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script type='text/javascript' src='https://cdn.firebase.com/js/client/1.0.6/firebase.js'></script>
		
		<script src="/js/main.js"></script>
		<script src="/js/calc.js"></script>
		<link rel="stylesheet" href="/css/main.css">
	</head>
	<body>
		<div id="wrapper">
			<div id="start-wrapper">
				<h1>Game Setup</h1>
				<p>How many are at the table?</p>
				<input id="table-num" type="text" />
				<p>What position are you? (small blind is 1, big blind is 2, etc)</p>
				<input id="position-num" type="text" />
				<button id="start">Begin!</button>
			</div>
			<div id="game-wrapper">
				<h1>In Game</h1>
				<div id="table-box">
					<p>Number of people at table:</p>
					<button class="counter up ppl" id="up-ppl">↑</button>
					<div id="num-at-table">0</div>
					<button class="counter down ppl" id="down-ppl">↓</button>
				</div>
				<div id="position-box">
					<p>Position number:</p>
					<button class="counter up pos" id="up-pos">↑</button>
					<div id="position">0</div>
					<button class="counter down pos" id="down-pos">↓</button>
				</div>
			</div>
		</div>
	</body>
</html>
